.doc-center
{
    width:100%;
    height:auto;
    padding: 20px;
    font-family:Helvetica;
}

.doc-titulo
{
    width:100%;
    height:auto;
    text-align: center;
}
.doc-form
{
    width: 100%;
    height: auto;
}

.doc-form form
{
    width: 100%;
    height: auto;
}
.df-top-left , .df-center
{
    width: 100%;
    height:auto;
}
.df-caja
{
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 10px;
}
.dfc-logo
{
    width: 36px;
    height: 36px;
    background: #13b9f0;
    display: inline-block;
    position: relative;
    top: -6px;
    right: -5px;
    border-radius: 15% 0 0 15%;
}
.dfc-logo svg
{
    width: 24px;
    height: 24px;
    position: relative;
    top:3px;
    color: white;
}
.df-caja input, .df-caja select
{
    width: 80%;
    display: inline-block;
}
.df-btn
{
    width: 100%;
    background: red;
    text-align: center;
}

@media (min-width:800px){

    .df-top-left
    {
        width: 48%;
        display: inline-block;
    }
    .df-center
    {
        width: 48%;
        display: inline-block;
    }
}

