{% extends "base.html" %}
{% block title %}<title>Lista de usuarios</title> {% endblock %}

{% block js %}
  <script>
    function eliminarUsuario(rut_usr) {
      Swal.fire({
        "title":"¿Está seguro que desea eliminar el usuario?",
        "icon":"question",
        "showCancelButton":true,
        "cancelButtonText":"Cancelar",
        "confirmButtonText":"Eliminar",
        "reverseButtons":true,
        "confirmButtonColor":"red"
      })
      .then(function(result) {
        if (result.isConfirmed){
          window.location.href = "usuario/delete?rut_usr="+rut_usr
        }
      })
    }
  </script>
{% endblock %}

{% block content %}
<br>
<div class="masthead container d-flex flex-column" style="max-width: 1140px;">
  <h2 class="text-center text-uppercase">Usuarios</h2>

  <div class="row">
    <div class="col-md-9">
    <form class="d-flex" method="POST" action="usuarios">
      {%csrf_token%}
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar usuario"
        name="rut_usr"
        maxlength="9"
        oninput="checkRut(this)"
      />
      <button class="btn btn-maincolor" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
  {% if request.session.user_login.user.tipo == 1 %}
    <div class="col-md-3">
      <a class="btn btn-primary1" href="{% url 'usuario_create' %}" 
      style="float: right; font-size: 14px;">Registrar usuario</a>
    </div>
  {% endif %}
  </div>
</div>
<div class="col-md-10"></div>
  <br>
<div class="row">

  {% if page_obj %}
    {% for u in page_obj %}
      <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-2">
                {% if u.foto %}
                <img class="rounded-circle mt-4 ms-3" width="200" height="200" src="data:imagen/png;base64, {{u.foto}}" data-holder-rendered="true">
                {% endif %}
              </div>
              <div class="col-md-10">
                <div class="card-body pb-0">
                  <h5 class="card-title ms-1" style="color: #1796c0; font-size: 25px; font-weight: bold;">{{ u.data.1 }} {{u.data.2}} {{u.data.3}}</h5>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="card-text ms-2">Rut: {{u.data.0}}</p>
                      <p class="card-text ms-2">Teléfono: {{u.data.5}}</p>
                      <p class="card-text ms-2">Correo electrónico: {{u.data.6}}</p>
                      <p class="card-text ms-2">Dirección: {{u.data.4}}</p>
                    </div>
                    <div class="col-md-4">
                      <p class="card-text">Tipo usuario: {{u.data.14.title}}</p>
                      {% if u.huella %}
                        <p class="card-text">Huella:    </p>
                        <img class="mb-3" src="data:imagen/png;base64, {{u.huella}}" width="130" height="130">
                      {% endif %}
                    </div>
                    {% if request.session.user_login.user.tipo == 1 %}
                      <div class="col-md-2">
                        <a class="btn btn-celeste mt-5" href="usuario/update?rut_usr={{ u.data.0 }}" >Editar <i class="fas fa-user-edit"></i></a>
                        <br>
                        <a class="btn btn-danger mt-2 mb-5" onclick="eliminarUsuario('{{u.data.0}}')">Eliminar <i class="fas fa-trash"></i></a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-1"></div>
    {% endfor %}
  {% endif %}
</div>
<div class="row mb-3">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
    </ul>
  </div>          
{% endblock %}
