{% extends "base.html" %}
{%block content%}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cat.css' %}" />
    <script src="{% static 'js/doc.js' %}"></script>
    {%block title%}
    <title>Catalogo</title>
    {%endblock%}
</head>
<body> 
    <!-- Header-->
    <header class="masthead text-center">
        <div class="container">
            <h1 class="masthead-heading text-uppercase mb-0">OBRAS VISUALES</h1>
        </div>
    </header>

    <!-- Boton Agregar Libros -->
    <div class="p-4" style="width: 95%; height: 50px;">
        {% if request.session.user_login.user.tipo == 1 or request.session.user_login.user.tipo == 2 %}
            <a class="btn btn-secondary" href="{% url 'form_doc' %}" style="float: right; font-size: 14px;">Agregar Documento<span class="glyphicon glyphicon-plus"></span></a>        
        {%endif%}     
    </div>

    <!-- Catalogo - videos -->
    <!-- Catalogo -->
    <div class="div-cat container p-4">
        <div class="row">
            {% for p in videos %}
            <div class="col-md-4 mt-4 text-center">
                <div class="card mb-2 h-100">
                    <img class="card-img-top" src="data:imagen/png;base64, {{p.imagen}}" alt="Card image cap">
                    <div class="card-body margin-btn">
                        <h6 class="card-title text-uppercase">{{p.data.1}}</h6>
                        <h6 class="card-text">{{p.data.2}}</h6>
                        {% if request.session.user_login.user.tipo == 1 or request.session.user_login.user.tipo == 2 %} 
                            <a href="/documento-update/{{p.data.0}}" class="btn btn-secondary btn-sm" style="float: center;">Editar</a>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="deleteDoc('{{p.data.0}}')">
                                Eliminar 
                            </button>
                        {%endif%}
                    </div>
                    {% if request.session.user_login.user.tipo == 1 or request.session.user_login.user.tipo == 2 or request.session.user_login.user.tipo == 3 %} 
                        <button type="button" class="btn btn-sm btn-soli" data-bs-toggle="modal" data-bs-target="#operacionDoc" onclick="opeDoc('{{request.session.user_login.user.rut_usr}}','{{p.data.0}}')">
                            Solicitar
                        </button>
                    {%else%}
                    <a href="{% url 'login' %}" class="btn btn-sm btn-soli" >Solicitar</a>
                    {%endif%}
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Eliminar Documento</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar este documento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="" id="eliminar_documento" class="btn btn-danger">Eliminar</a>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade " id="operacionDoc" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="staticBackdropLabel">Solicitud De Documento</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                ¿Qué operacion desea realizar?
            </div>
            <div class="modal-footer">
                <div class="oper-btn">
                    <form action="{% url 'solicitud_pres' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="rut" id="id_rut_usu" value = "" hidden>
                        <input type="text" name="isbn" id="id_isbn2" value="" hidden >
                        <input type="submit" class="btn btn-primary " value="Préstamo">
                    </form>
                </div>
                <div class="oper-btn">
                    <a href="" id="" class="btn btn-success ">Reservar</a>
                </div>
            </div>
          </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>